{% extends 'template_principal.html' %}

{% block conteudo %}

<div class="conteiner">
    <form action="{{ url_for('pedidos.saveOrder') }}" method="post">
        {{ form.csrf_token() }}
        <div class="form-group">
            <div class="col-md-5">
                {{ form.numero_nfe.label(class="form-label") }}
                {{ form.numero_nfe(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                {{ form.id_produto(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                {{ form.quantidade.label(class="form-label") }}
                {{ form.quantidade(class="form-control") }}   
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                {{ form.data_do_pedido.label(class="form-label") }}
                {{ form.data_do_pedido(class="form-control") }}   
            </div>
        </div>
        <div style="margin-top: 10px;">
            <a href="{{ url_for('pedidos.allOrders') }}" type="button" class="btn btn-danger">Cancelar</a>
            {{ form.salvar(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}