{% extends 'template_principal.html' %}

{% block conteudo %}
    <div class="conteiner">
        <h2>Tempo de produção dos Pedidos</h2>
        <p>Calculo: (<strong>Quantidade</strong> X <strong>Tempo de Produção</strong>) / <strong>8</strong>(quantidade de horas trabalhadas em um dia) </p>
        <a href="{{ url_for('pedidos.allOrders') }}" class="btn btn-primary">Voltar</a>
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número NFe</th>
                        <th>Produto</th>
                        <th>Tempo de produção(unidade)</th>
                        <th>Quantidade</th>
                        <th>Tempo de produção total(dias)</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.numero_nfe }}</td>
                        <td>{{ pedido.nome }}</td>
                        <td>{{ pedido.tempo_de_producao }}</td>
                        <td>{{ pedido.quantidade | format_number }}</td>
                        <td><strong>{{ pedido.tempo_de_producao_dias }}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}