{% extends 'template.html' %}

{% block conteudo %}
		<form action="{{ url_for('login.logar') }}" method="POST">
			{{ form.csrf_token() }}
			<div>
				<input type="hidden" name="proxima_url" value="{{ proxima_url }}">
					{{ form.usuario.label() }}
					{{ form.usuario(id="usuario") }}

					{{ form.senha.label() }}
					{{ form.senha(id="password") }}
				</div>
			<button type="submit">Enviar</button>
		</form>
	<script>
		if (performance.navigation.type == 1) {
			window.location.replace('/');
		}
	</script>
{% endblock %}