{% extends 'template.html' %}

1{% block conteudo %}
		<form action="/autenticar" method="POST">
			<div>
				<input type="hidden" name="proxima_url" value="{{ proxima_url }}">
					<label for="username">Usuário:</label>
					<input type="text" id="username" name="username" autocomplete="off" required><br>
					<label for="password">Senha:</label>
					<input type="password" id="password" name="password" autocomplete="off" required><br>
				</div>
			<button type="submit">Enviar</button>
		</form>
	<script>
		if (performance.navigation.type == 1) {
			window.location.replace('/');
		}
	</script>
{% endblock %}