{% extends 'template_principal.html' %}
{% block conteudo %}
<div class="container">
    <h2>{{ titulo }}</h2>
    <form method="post" action="{{ url_for('produtos.newProduct') }}" class="conteiner">
        {{ form.csrf_token() }}
        <div  class="form-group">
            <div  class="col-md-5">
                {{ form.codigo.label(class="form-label") }}
                {{ form.codigo(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div  class="col-md-5">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <!-- {{ form.frasco_id.label }} -->
                {{ form.frasco_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
            <div class="col-md-5">
                <!-- {{ form.fita_id.label }} -->
                {{ form.fita_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
            <div class="col-md-5">
                <!-- {{ form.cliche_id.label }} -->
                {{ form.cliche_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
        </div>
        <div class="form-group">
            <div  class="col-md-5">
                {{ form.tempo_de_producao.label(class="form-label") }}
                {{ form.tempo_de_producao(class="form-control") }}
            </div>
        </div>
        <div class="form-group buttons">
            <a href="{{ url_for('produtos.allProducts') }}" class="btn btn-primary" type="button" >Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>

{% endblock %}