{% extends 'template_principal.html' %}

{% block conteudo %}
    <h1>{{ titulo }}</h1>
   
    <form action="{{ url_for('produtos.salvarEdicao') }}" method="post">
        <input type="hidden" name="id" value="{{ id }}">
        {{ form.csrf_token() }}
        <div  class="form-group">
            <div  class="col-md-5">
                {{ form.codigo.label(class="form-label") }}
                {{ form.codigo(class="form-control") }}
               
            </div>
        </div>
        <div  class="form-group">
            <div  class="col-md-5">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>
        </div>
        <div  class="form-group">
            <div class="col-md-5">
                <!-- {{ form.frasco_id.label }} -->
                {{ form.frasco_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
            <div class="col-md-5">
                <!-- {{ form.fita_id.label }} -->
                {{ form.fita_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
            <div class="col-md-5">
                <!-- {{ form.cliche_id.label }} -->
                {{ form.cliche_id(class="form-select form-select-sm", style="font-weight: bold;") }}
            </div>
        </div>
        <div  class="form-group">
            <div  class="col-md-5">
                {{ form.tempo_de_producao.label(class="form-label") }}
                {{ form.tempo_de_producao(class="form-control") }}
            </div>
        </div>
        <div class="form-group buttons">
            {{ form.salvar(class="btn btn-success") }}
            <a href="{{ url_for('produtos.allProducts') }}" class="btn btn-primary">Voltar</a>
        </div>
    </form>
{% endblock %}